.content
  div(class="owl-carousel slider")
    div(style="background: url('../images/slider/slide-1.png') no-repeat center; height: 330px;")
      .slider-middle
        .slider-info
          .slider-badge-button(style="color: #FFFFFF;") Badge
          .slider-title(style="color: #FFFFFF;") The Best Place to Play
          .slider-description(style="color: rgba(255, 255, 255, .6);") Space The Final Frontier
    div(style="background: url('../images/slider/slide-2.png') no-repeat center; height: 330px;")
      .slider-middle
        .slider-info
          .slider-badge-button(style="color: #FFFFFF;") Badge
          .slider-title(style="color: #FF0000;") Air conditioning drop in prices
          .slider-description(style="color: rgba(0, 0, 0, .8);") Up to 30% discount on LG air conditioning
    div(style="background: url('../images/slider/slide-3.png') no-repeat center; height: 330px;")
      .slider-middle
        .slider-info
          .slider-badge-button(style="color: #FFFFFF;") Badge
          .slider-title(style="color: #FFFFFF;") QLED TV
          .slider-description(style="color: rgba(255, 255, 255, 1);") Now TV picture is more realistic than ever
    div(style="background: url('../images/slider/slide-4.png') no-repeat center; height: 330px;")
      .slider-middle
        .slider-info
          .slider-badge-button(style="color: #FFFFFF;") Badge
          .slider-title(style="color: rgba(255, 0, 255, 1);") New generetion of slim laptops
          .slider-description(style="color: color: #000;") Look at newest Lenovo laptop series!
    div(style="background: url('../images/slider/slide-5.png') no-repeat center; height: 330px;")
      .slider-middle
        .slider-info
          .slider-badge-button(style="color: #FFFFFF;") Badge
          .slider-title(style="color: #FFFFFF;") Free access to AppMusic
          .slider-description(style="color: rgba(0, 0, 0, 1);") Buy iPhone X and use AppMusic for free
  .products-preview-box
  .subscribe-box
  .viewed-products-box
    .viewed-products-box-title
      .viewed-products-box-eye-icon
      .viewed-products-box-title Recently viewed products
    .viewed-products-list
      -
        var list = [
          ["Apple iPhone 7", "images/goods/viewedProduct1.png", "$ 670", "/products/product1"],
          ["LG 43UH610V", "images/goods/viewedProduct2.png", "$ 545", "/products/product2"],
          ["LG G6 H870DS", "images/goods/viewedProduct3.png", "$ 545", "/products/product3"],
          ["Asus ZenFone", "images/goods/viewedProduct4.png", "$ 545", "/products/product4"],
        ];
      - for (var x = 0; x < list.length; x++)
        .viewed-products-list-item
          .viewed-products-image
            img(src= list[x][1])
          .viewed-products-info
            .viewed-product-name
              p
                a.viewed-product-item-link(href= list[x][3])= list[x][0]
            .viewed-product-price
              p= list[x][2]