.footer
  .footet-top
    .user-list-box
      .user-list-title
          span.user-icon
          span.user-list-title-name Users
      .user-list-columns
        .user-list-first-column
          p.user-list-first-column-item
            a.user-list-item-link(href='') Payment
          p.user-list-first-column-item
            a.user-list-item-link(href='') Delivery
          p.user-list-first-column-item
            a.user-list-item-link(href='') Return and exchange
        .user-list-second-column
          p.user-list-second-column-item
            a.user-list-item-link(href='') Help with the service
          p.user-list-second-column-item
            a.user-list-item-link(href='') Terms of use
          p.user-list-second-column-item
            a.user-list-item-link(href='') Feedback
    .shopping-list-box
      .shopping-list-title
          span.shopping-icon
          span.shopping-list-title-name Shopping
      .shopping-list-columns
        .shopping-list-first-column
          p.shopping-list-first-column-item
            a.shopping-list-item-link(href='') Connectivity
          p.shopping-list-first-column-item
            a.shopping-list-item-link(href='') Help for shops
          p.shopping-list-first-column-item
            a.shopping-list-item-link(href='') Dashboard
        .shopping-list-second-column
          p.shopping-list-second-column-item
            a.shopping-list-item-link(href='') Storehouse
          p.shopping-list-second-column-item
            a.shopping-list-item-link(href='') Terms of use
          p.shopping-list-second-column-item
            a.shopping-list-item-link(href='') Feedback
    .statistic-list-box
      .statistic-list-title
          span.statistic-icon
          span.statistic-list-title-name Statistic
      .statistic-list
          p.statistic-list-item
            span.statistic-number 453 034 
            span.statistic-text Goods
          p.statistic-list-item
            span.statistic-number 2 545 
            span.statistic-text Shops
  .footer-bottom
    .footer-bottom-list
      - var list = [ ["Mobile version", "/mobile_version"], ["Statistics", "/statistics"], ["Advertising", "/advertising"] ];
      - for (var x = 0; x < list.length; x++)
        li.footer-bottom-list-item
          a.footer-bottom-list-item-link(href='list[x][1]')= list[x][0]