!!!5
%html
  %head
    %meta{:charset => "utf-8"}
    %title = 'My app'
    %description = 'My app'
    
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html' }
  %body
    %div{class='header'}
      %div{class='search_input'}
      %div{class='logo'}
      %div{class='user_bar'}
    %div{class='menu'}
      %ul{id='header_menu'}
        %li Electronics
        %li Appliances
        %li Childen's goods
        %li Repair
        %li Clothes
        %li Footwear
        %li Beauty

