@import '_variables';
@import '_mixins';

.header{
  min-width: 800px;
  height: 150px;
}

.header-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 88px;
}

.header-search-box{
  height: 50px;
  margin: 20px 0 18px 24px;
  border-radius: 25px;
  width: 270px;
  border: 2px solid #F5F5F5;
}

.search-form{
  position: relative;
  width: 270px;
  height: 50px;
  &:before {
    background: url('../images/icons/ic_search.png') center no-repeat;
    background-size: 30px 30px;
    content: '';
    position: absolute; 
    top: 50%; 
    left: 23px;
    display: block; 
    width: 30px; 
    height: 30px;
    margin: -15px 0px 0px 0px;
    border: none;
  }
}

.search-form input[type=text]{
  font-size: 12px;
  font-family: 'Roboto-Medium', sans-serif;
  padding-left: 71px;
  padding-right: 24px;
  color: #B2B2B2;
  height: 50px;
  width: 100%;
  border-style: none;
  display: block;
  background: none;
  box-sizing: border-box;
  border-radius: 25px;
}

.search-form input[type=submit]{
  width: 30px; 
  height: 30px;
  position: relative;
  top: -40px;
  left: 25px;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  border: none;
}

.header-logo{
  margin-left: 85px;
  min-width: 24px;
  width: 24px;
  height: 24px;
  border: 8px solid #0078FF;
  border-radius: 24px;
  align-self: center;         
}

.header-user-bar{
  display: flex;
  flex-direction: row;
  color: #999999;
  margin: 25px 24px 0 0;
  height: 40px;
  font-size: 13px;
}

.header-user-bar-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 40px;
} 

.header-user-bar-list-item{
  margin-top: auto;
  margin-bottom: auto;
  &:not(:first-child){
    margin-left:25px;
  }
}

.header-user-bar-list-item-link{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #999999;
  height: 26px;   
  &:hover{
    text-decoration: underline;
    color: #808080;
  }
}

.header-user-bar-list-item-icon-favorite{
  width:26px; 
  background-image: url('../images/icons/favorite.png');
  background-position-y: center;
}

.header-user-bar-list-item-icon-cart{
  width:26px; 
  background-image: url('../images/icons/cart.png');
  background-position-y: center;                               
}

.header-user-bar-list-item-icon-compare{
  width:26px; 
  background: url('../images/icons/compare.png');
  background-position-y: center;
}

.header-user-bar-list-item-text{
  margin: auto;
  padding-left: 12px;   
}

.header-user-bar-avatar{
  margin: 0 0 0 30px;
  height: 40px;
  width: 40px;
  background: url('../images/icons/avatar.png') center no-repeat;
}

.header-bottom{
  height: 58px;
  border: 2px solid #F5F5F5;
  border-left-style: none;
  border-right-style: none;
  display: flex;
  justify-content: center;
}

.header-menu{
  margin-top: 23px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  color: #999999;
}

.header-menu-list-item{
  font-size: 13px;
  font-family: 'Roboto-Medium'; 
  &:not(:first-child){
    margin-left:40px;
  }
}

.header-menu-list-item-link{
  text-decoration: none;
  color: #999999;
  &:hover{
    text-decoration: underline;
    color: #808080;
  }
}