@import '_variables';
@import '_mixins';

.slider{
  max-width: 1080px;
  max-height: 330px;
  height: 32.7272vw;

  margin:0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-arrow-back{
  margin-left: 30px;
}

.slider-arrow-back:before{
  content:"";
  position: absolute;
  margin: 14px 15px 15px 14px;
  height: 30px;
  width: 30px;
  background: url('../images/icons/icons.png') no-repeat;
  background-position: -200px 0;
}

.slider-arrow-forward{
  margin-right: 30px;
}

.slider-arrow-forward:before{
  content:"";
  position: absolute;
  margin: 14px 15px 15px 14px;
  height: 30px;
  width: 30px;
  background: url('../images/icons/icons.png') no-repeat;
  background-position: -230px 0;
}

.slider-arrow-back, .slider-arrow-forward{
  width: 60px;
  height: 60px;
  border: 2px solid rgba(255, 255, 255, .3);
  border-radius: 30px;
  &:hover{
    cursor: pointer;
  }
}

.slider-middle{
  height: 100%;
}

.slider-middle-top{
  height: 15%;
}

.slider-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  height: 70%;
}

.slider-badge-button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  width: 90px;
  height: 30px;
  font-size: 12px;
  font-family: $mediumFontFamily; 
  background-color: #FF004F;
  border-radius: 15px;
  //margin-bottom: 53px;
  &:hover{
    cursor: pointer;
  }
}

.slider-title{
  color: #FFFFFF;
  font-size: 36px;
  font-family: $mediumFontFamily; 
  //margin-bottom: 60px;
}

.slider-description{
  height: 30px;
  color: #FFFFFF;
  font-size: 14px;
}    

.slider-tabs{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider-tab{
  width: 10px;
  height:10px;
  border-radius: 10px;
  background-color: #F5F5F5;
  opacity: .6;
  margin-left: 10px;
  &:first-child{
    margin-left: 0px;
  }
}

.active-slider-tab{
  //background-color: #7FFFD4;
  background-color: #FFFFFF;
  opacity: 1;
}



.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 2s ease-in;
}