@import '_variables';
@import '_mixins';

.viewed-products-box{
  width: $content-width;
  margin: 0 auto;
  padding-top: 50px;
}

.viewed-products-box-title{
  height: 30px;
  display: flex;
  flex-direction: row;
}

.viewed-products-box-eye-icon{
  margin-left: 17px;
  width: 30px;
  height: 30px;
  background: url('../images/icons/icons.png') no-repeat;
  background-position: -138px 0;
}

.viewed-products-box-title{
  color: #808080;
  margin-left: 23px;
  font-size: 18px;
  line-height: 30px;
}
        
.viewed-products-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  height: 120px;
  margin-bottom: 60px;
  padding-top: 40px;
}

.viewed-products-list-item{
  box-shadow: 0 2px 6px rgba(0, 0, 0, .05);
  height: 120px;
  width: 225px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.viewed-products-image{
  width: 110px;
  img{
    width: 80px;
  }   
}

.viewed-products-info{
  width: 145px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.viewed-product-name{
  width: 145px;
  color: #808080;
  margin-bottom: 18px;
}

.viewed-product-name > p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.viewed-product-item-link{
  text-decoration: none;
  color: #808080;
  &:hover{
    text-decoration: underline;
  }
}

.viewed-product-price{
  width: 145px;
  font-family: $boldFontFamily;
  color: #B2B2B2;
}

.viewed-product-price > p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}