@mixin bottomListStyle($icon_src, $listMargin, $liWidth) {
    width: 212px;   
    margin-left: $listMargin; 
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap:  wrap;
        justify-content: flex-end;

        list-style-type: none;
        height: 150px;
        li:first-child{
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 25px;
            color: #808080;
            span.icon{
                background-size: 24px;
                width: 24px;
                height: 24px;
                background-image: url($icon_src);
                margin-right: 23px;
            }
        }
        li{
            font-size: 13px;
            margin-bottom: 10px;
            font-weight: medium;
            color: #B2B2B2;
            width: $liWidth;
            span.number{
                font-size: 16px;
                font-weight: bold;
                color: #808080;
                margin-left:50px;
            }
            span.text{
                font-size: 12px;
                font-weight: bold;
            }
            a{
                font-size: 13px;
                color: #B2B2B2;
                text-decoration: none;
                margin-left: 50px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.footer{
    width: 100%;
    border-top: 1px solid #EBEBEB;
    #topFooterContainer{
        margin: 0 auto;
        width: 1110px;
        height: 210px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        #usersList{
            @include bottomListStyle('../images/icons/users.png', 8px, 200px);
        }
        #shoppingList{
            @include bottomListStyle('../images/icons/shops.png', 220px, 150px);
        }
        #statisticList{
            @include bottomListStyle('../images/icons/statistic.png', 200px, 180px);
        }
    }
    #bottomFooterContainer{
        border-top: 1px solid #EBEBEB;
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            list-style-type: none;
            li{
                &:not(:first-child){
                    margin-left: 40px;
                }
                a{
                    font-size: 13px;
                    color: #B2B2B2;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}