$borderColor: #F5F5F5;
$menuTextColor: #999999;

div.header{
    min-width: 800px;
    height: 150px;

    div#topHeaderContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 88px;

        div.itemSearch{
            width: 270px;
            height: 50px;
            margin: 20px 0px 18px 25px;
            border: 2px solid $borderColor;
            border-radius: 25px;
            display: flex;
            flex-direction: row;

            div#searchIcon{
                margin: 0px 0px 0px 23px;
                height: 50px;
                width: 30px;
                background: url('../images/icons/ic_search.png') center no-repeat;
                background-size: 30px 30px;
            }

            #searchInput{
                margin: 18px 0px 17px 34px; 
                font-size: 12px;
                font-weight: bold;
                color: #B2B2B2;
                border-style: none;
                width: 170px;
            }
        }

        div.logo{
            margin-left: 103px;
            min-width: 24px;
            width: 24px;
            height: 24px;
            border: 8px solid #0078FF;
            border-radius: 24px;
            align-self: center;
                     
        }

        div.userBar{
            display: flex;
            flex-direction: row;
            color: $menuTextColor;
            margin: 25px 30px 0px 0px;
            height: 40px;
            font-size: 13px;

            ul{
                display: flex;
                flex-direction: row;
                list-style-type: none;
                padding: 0px;
                margin: 0px;
                height: 40px;

                li{
                    font-weight: bold;
                    margin-top: auto;
                    margin-bottom: auto;
                    &:not(:first-child){
                        margin-left:25px;
                    }

                    a{
                        display: flex;
                        flex-direction: row;
                        text-decoration: none;
                        color: $menuTextColor;
                        height: 26px;   
                        &:hover{
                            text-decoration: underline;
                            color: #808080;
                        }

                        span#favoriteIcon{
                            background-image: url('../images/icons/favorite.png');
                        }

                        span#cartIcon{
                            background-image: url('../images/icons/cart.png');                                 
                        }

                        span#compareIcon{
                            background: url('../images/icons/compare.png');
                        }

                        span#favoriteIcon, span#cartIcon, span#compareIcon{
                            width:26px; 
                            background-position-y: center;
                        }

                        span#favoriteText, span#cartText, span#compareText{
                            margin: auto;
                            padding-left: 12px;   
                        }
                    } 
                }
            } 

            #avatar{
                margin: 0px 0px 0px 30px;
                height: 40px;
                width: 40px;
                background: url('../images/icons/avatar.png') center no-repeat;
            }
        }
    }

    div#bottomHeaderContainer{
            height: 58px;
            border: 2px solid $borderColor;
            border-left-style: none;
            border-right-style: none;
            display: flex;
            justify-content: center;

        ul#headerMenu{
            margin-top: 23px;
            padding: 0px;
            display: flex;
            flex-flow: row wrap;
            list-style-type: none;
            color: #999999;

            li{
                font-size: 13px;
                font-weight: bold;
                &:not(:first-child){
                    margin-left:40px;
                }
                a{
                    text-decoration: none;
                    color: $menuTextColor;
                    &:hover{
                        text-decoration: underline;
                        color: #808080;
                    }
                }
            }
        }
    }
}