
#usersList{
            width: 312px;
            ul{
                display: flex;
                flex-direction: column;
                flex-wrap:  wrap;
                justify-content: flex-end;
                list-style-type: none;
                height: 150px;
                li:first-child{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 25px;
                    color: #808080;
                    span#usersIcon{
                        background-size: 24px;
                        width: 24px;
                        height: 24px;
                        background-image: url('../images/icons/users.png');
                        margin-right: 23px;
                    }
                }
                li{
                    font-size: 13px;
                    margin-bottom: 10px;
                    a{
                        font-size: 13px;
                        color: #B2B2B2;
                        text-decoration: none;
                        margin-left: 50px;
                        &:hover{
                            text-decoration: underline;
                            }
                    }
                }
            }
        }

        #shoppingList{
            width: 212px;
            margin-left:180px;
            ul{
                display: flex;
                flex-direction: column;
                flex-wrap:  wrap;
                justify-content: flex-end;
                list-style-type: none;
                height: 150px;
                li:first-child{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 25px;
                    color: #808080;
                    span#shoppingIcon{
                        background-size: 24px;
                        width: 24px;
                        height: 24px;
                        background-image: url('../images/icons/shops.png');
                        margin-right: 23px;
                    }
                }
                li{
                    font-size: 13px;
                    margin-bottom: 10px;
                    a{
                        font-size: 13px;
                        color: #B2B2B2;
                        text-decoration: none;
                        margin-left: 50px;
                        &:hover{
                            text-decoration: underline;
                            }
                    }
                }
            }
        }

        #statisticList{
            width: 212px;   
            margin-left:180px; 
            ul{
                display: flex;
                flex-direction: column;
                flex-wrap:  wrap;
                justify-content: flex-end;
                list-style-type: none;
                height: 150px;
                li:first-child{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 25px;
                    color: #808080;
                    span#statisticIcon{
                        background-size: 24px;
                        width: 24px;
                        height: 24px;
                        background-image: url('../images/icons/statistic.png');
                        margin-right: 23px;
                    }
                }
                li{
                    font-size: 13px;
                    margin-bottom: 10px;
                    font-size: 12px;
                    font-weight: bold;
                    color: #B2B2B2;
                    &:not(:first-child){
                        margin-left:50px;
                    }
                    #number{
                        font-size: 16px;
                        color: #808080;
                    }
                    a{
                        font-size: 13px;
                        //color: #B2B2B2;
                        text-decoration: none;
                        
                        &:hover{
                            text-decoration: underline;
                            }
                    }
                }
            }
        }
        