doctype html
html
  head
    meta(charset="utf-8")
    link(href="style.css" rel="stylesheet")
    title ShakShop
  body
    script(type="text/javascript" src="bundle.js")
    include templates/header.pug
    include templates/content_with_react.pug
    include templates/footer.pug