doctype html
html
  head
    meta(charset="utf-8")
    link(href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet")
    
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    title ShakShop
  body
    script(type="text/javascript" src="bundle.js")
    include templates/header.pug
    include templates/content_with_react.pug
    include templates/footer.pug
    script(src="/node_modules/jquery/dist/jquery.js")
    script(src="/node_modules/owl.carousel/dist/owl.carousel.min.js")